# Build output
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS-specific
.vs/
.vscode/

# ASP.NET Core secrets & config
appsettings.Development.json
secrets.json

# Logs
*.log

# Crash dumps
*.dmp

# Temporary files
*.tmp
*.bak
*.cache
*.pid

# JetBrains Rider / ReSharper
.idea/
*.sln.iml
_ReSharper*/

# OS files
.DS_Store
Thumbs.db
